.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $indent;
    @include tablet {
        padding: $indent 70px;
    }

    &_link {
        font-size: 16px;
    }
}
