.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 54px;
    position: relative;

    .slides-page & {
        position: absolute;
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        @include tablet {
            top: 68px;
            width: 90%;
        }
    }
}
