@font-face {
    font-family: 'Nimbus Sans';
    src:  url('NimbusSans.woff2') format('woff2'),
        url('NimbusSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nimbus Sans';
    src:  url('NimbusSans-Bold.woff2') format('woff2'),
        url('NimbusSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
